<% if(msg && msg.length){ %>
<div class="alert alert-success alert-dismissible fade show col-4 offset-4 mt-3" role="alert">
  <%= msg %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<% if(msgDel && msgDel.length){ %>
<div class="alert alert-danger alert-dismissible fade show col-4 offset-4 mt-3" role="alert">
  <%= msgDel %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
<% if(msgErr && msgErr.length){ %>
<div class="alert alert-danger alert-dismissible fade show col-4 offset-4 mt-3" role="alert">
  <%= msgErr %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>