<% layout("layouts/bolierplate.ejs") %>

  <body>
    <style>
      #filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }

      .filter {
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
      }

      .filter:hover {
        opacity: 1;
        cursor: pointer;
      }

      .filter i {
        font-size: 22px;
        
      }
      .taxes{
        display: none;
      }
      .tax-toggle{
        border: 2px solid black;
        border-radius:1rem;
        height:3.5rem;
        padding: 1rem;
        margin-left: 2.5rem;
      }
      .tax-toggle:hover{
        box-shadow: 0 0 8px rgba(0,0,0,0.3);
      }
    </style>
    <!-- <h2>All Lisitngs</h2> -->
    <!-- <form action="/listings/new" method="get">
        <button>Add yours</button>
    </form> -->
    <div id="filters">
  <div class="filter">
    <i class="fa-solid fa-fire"></i>
    <p>Trending</p>
  </div>
  <div class="filter">
    <i class="fa-solid fa-bed"></i>
    <p>Rooms</p>
  </div>
  <div class="filter">
    <i class="fa-solid fa-mountain-city"></i>
    <p>Iconic Cities</p>
  </div>
  <div class="filter">
    <i class="fa-solid fa-mountain"></i>
    <p>Mountains</p>
  </div>
  <div class="filter">
    <i class="fa-regular fa-chess-rook"></i>
    <p>Castles</p>
  </div>
  <div class="filter">
    <i class="fa-solid fa-person-swimming"></i>
    <p>Amazing Pools</p>
  </div>

  <div class="filter">
    <i class="fa-solid fa-campground"></i>
    <p>Camping</p>
  </div>
  <div class="filter">
    <i class="fa-solid fa-wheat-awn"></i>
    <p>Farms</p>
  </div>
  <div class="filter">
   <i class="fa-solid fa-snowman"></i>
    <p>Arctic</p>
  </div>
<div class="filter">
    <i class="fa-solid fa-mattress-pillow"></i>
    <p>Domes</p>
  </div>


  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
  <label class="form-check-label" for="switchCheckDefault">Show total with taxes</label>
</div>
  </div>
</div>


    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
      <% for(listing of allListings) {%>
        <a href="/listings/<%= listing._id %>" class="listing-links">
          <div class="card card-listing">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="Lisitng Image" style="height:20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
                <b>
                  <%=listing.title%>
                </b>
                <br>
                &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %>/night
                 &nbsp;<i class="taxes">+18% GST</i>

              </p>
            </div>

          </div>
          <% } %>
    </div>
  </body>
  <script>
    let taxSwitch = document.querySelector("#switchCheckDefault");
    taxSwitch.addEventListener("click",()=>{
       let taxeInfo = document.getElementsByClassName("taxes");
      for(info of taxeInfo){
        if(info.style.display != "inline"){
        info.style.display = "inline";
        }else{
          info.style.display = "none";
        }
      }
    })
  </script>