<% layout("layouts/bolierplate.ejs") %>

    <div class="row">
        <div class="col-4 offset-4 mt-3">
            <h3>Be Part of ATITHIHUB</h3>
            <form action="/signup" novalidate class="needs-validation" method="post">
                <div class="mb-3">
                        <label for="username" class="form-lable">Username:</label>
                        <input type="text" name="username" id="username" required class="form-control" placeholder="Enter a username">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a Username.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-lable">Email:</label>
                        <input type="email" name="email" id="email" required class="form-control" placeholder="Enter your Email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-lable">Password:</label>
                        <input type="password" name="password" id="password" required class="form-control" placeholder="Enter a strong password">
                        <div class="valid-feedback">
                            Strong!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a password.
                        </div>
                    </div>
                    <button class="btn btn-success">SignUp</button>
            </form>
        </div>
    </div>